######################
# OS Files
######################

# OS X #
.DS_Store


######################
# Build files
######################

# setuptools #
__pycache__
build
dist
*.egg-info
*.pyc

######################
# Development env.
######################

# Protege #
catalog-v001.xml


######################
# Untracked sources
######################

# config #
config.py


######################
# Sensitive data
######################

# API keys #
client_secret.json
