######################
# OS Files
######################

# OS X #
.DS_Store


######################
# Build files
######################

# setuptools #
__pycache__
dist
*.egg-info


######################
# Development env.
######################

# Protege #
catalog-v001.xml


######################
# Untracked sources
######################

# config #
config.py
